@import './vars';

.AddArticle {
  width: 100%;
  .article-form {
    width: 70%;
    // margin: 0 auto;
    .form-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .form-item {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 6px;
        }
        input {
          height: 40px;
          padding: 0 10px;
          &::placeholder {
            color: #a9a9a9;
          }
        }
        button[type="submit"] {
          height: 40px;
          cursor: pointer;
          transition: background-color .2s;
          background-color: $header-bg-color;
          color: #fff;
          &:hover {
            background-color: #1e9478;
          }
        }
        select {
          height: 40px;
          cursor: pointer;
          padding: 0 10px;
          option {
            &:disabled {
              color: #a9a9a9;
            }
          }
        }
        input, button[type="submit"], select {
          border: 1px solid #dfdfe0;
          outline: none;
          border-radius: 3px;
        }

        &.select {
          flex-direction: row;
          select {
            width: 100%;
          }
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border: 1px solid #dfdfe0;
            user-select: none;
            cursor: pointer;
            border-radius: 3px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}