@import './vars';

.SignInForm {
  position: absolute;
  margin-top: 10px;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);
  color: #000;

  &::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    right: 3px;
    top: -8px;
    border-radius: 4px;
  }

  .form-error {
    display: flex;
    border: 2px solid $error-color;
    border-radius: 4px;
    background-color: rgba($color: #E47575, $alpha: .5);
    align-items: center;
    padding: 6px 4px;
    margin-bottom: 12px;

    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: $error-color;
      }
      margin-right: 4px;
    }
    &_title {
      color: $error-color;
    }
  }

  .form-title {
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.2em;
  }

  .form-items {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .form-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      label {
        margin-left: 6px;
        margin-bottom: 5px;
      }
      input, 
      button {
        width: 240px;
        height: 30px;
        background: none;
      }

      input {
        border: 1px solid gray;
        padding-left: 10px;
      }

      button {
        background-color: $header-bg-color;
        color: $header-font-color;
        border: none;
        cursor: pointer;
        transition: background-color .2s;
        height: 36px;

        &:hover {
          background-color: $second-color;
        }
      }
    }
  }
}