.TextAreaOptions {
  .btn-group {
    display: flex;
  }
  .btn {
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #c4c4c4;
    }
    svg {
      font-size: 20px;
    }   
  }
}